.dboard-yourcourses {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.course-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
    text-align: center;
}

.dboard-yourcourses>p {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.course-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
    border: 1px solid rgb(223, 214, 252);
    padding: 10px;
    cursor: pointer;
    
}

.course-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-img-container>img {
   width: 100%;
    object-fit: contain;
}

.course-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.course-title-container>p{
    object-fit: contain;
    font-weight: 400;
}

.join-btn-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.join-class-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: rgb(255, 0, 102);
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
}
.join-class-btn:hover{
    background-color: rgb(201, 4, 83);
}



@media screen and (max-width:769px) {

    .course-wrapper{
        flex-direction: column;
    }
    .course-details{
        width: 100%;
    }

}
