.dboard-greeting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.dboard-greeting>h1 {
    font-size: 20px;
    font-weight: 500;
}

.dboard-greeting>p {
    font-size: 16px;
    font-weight: 400;
}