.course-module {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.course-module > h1 {
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
}

.accordion_questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.accordion-module {
  width: 100%;
  border: 1px solid rgb(223, 214, 252);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px;
}
.accordion-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(242, 238, 255);
}
.accordion-content .active {
  display: block;
}
.accordion-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  gap: 20px;
}
.accordion-content .inactive {
  display: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > img {
  width: 20px;
}
.module_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-basis: 20%; */
  background-color: rgb(95, 45, 246);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
.module_number > span {
  font-weight: 500;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  font-weight: 400;
}

.free-video-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}
.demo-video-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.video-title {
  font-weight: 500;
}
